@{
    ViewData["Title"] = "PostApp";
}

<div class="text-center">
    <h1 class="display-4">PostApp</h1>
    <h3>Last visit: @ViewBag.LastVisit</h3>
    <b></b>
    <p>Olaf Grzesiak PostApplication</p>
</div>

<style>
    body {
    }
</style>